@import "styles/abstracts/mixins";

.user {
  @include flex-direction-column;
  height: calc(100vh - 3.25rem);
  padding: 1rem 1rem 0rem;
  gap: 1rem;

  .user-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      @include heading;
      font-size: 1.5rem;
    }

    .add-btn {
      @include button;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
    }
  }


  .cell__img {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .cell__status {
    padding: 0.5rem;
    border-radius: 0.3rem;

    &.active {
      background-color: rgba($color: green, $alpha: 0.05);
      color: green;
    }

    &.pending {
      background-color: rgba($color: orange, $alpha: 0.05);
      color: orange;
    }

    &.passive {
      background-color: rgba($color: crimson, $alpha: 0.05);
      color: crimson;
    }
  }

  .cell-action {
    display: flex;
    align-items: center;
    gap: 1rem;

    .view-btn {
      padding: 0.2rem 0.5rem;
      border-radius: 0.3rem;
      color: darkblue;
      border: 1px solid rgba($color: darkblue, $alpha: 0.5);
      cursor: pointer;
    }

    .delete-btn {
      padding: 0.2rem 0.5rem;
      border-radius: 0.3rem;
      color: crimson;
      border: 1px solid rgba($color: crimson, $alpha: 0.5);
      cursor: pointer;
    }
  }
}