.home {
  display: flex;

  &-right {
    flex: 6;

    .right__widgets {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;
      padding: 1.5rem;
    }

    .right__charts {
      
    }
  }
}