.home {
  display: flex;

  &-right {
    flex: 6;
    margin-left: 10.25rem;

    .right__widgets {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;
      padding: 1.5rem;
    }

    .right__charts {
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      padding: 0rem 1.5rem;
    }

    .right__table {
      padding: 1.5rem;
    }
  }
}