@import "styles/abstracts/variables";
@import "styles/abstracts/mixins";

.new {
  display: flex;
  flex: 1;

  .new-content {
    @include flex-direction-column;
    flex: 6;
    margin-left: 10.25rem;

    .top {
      padding: 1.5rem;

      .top-content {
        @include box;
        flex: 1;
  
        h4 {
          @include heading;
          font-size: 1rem;
        }
      }
    }

    .bottom {
      padding: $secondary-pd;

      .bottom-content {
        @include box;
        flex: 6;
        gap: 3rem;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 3rem;

        label {
          color: $primary-clr;
        }

        input {
          border: none;
          outline: none;
          border-bottom: 1px solid $primary-clr-3;
          max-width: 20rem;
        }

        .form-control {
          gap: 0.5rem;
          @include flex-direction-column;
        }

        .left {
          flex: 0.5;
          display: flex;
          align-items: start;

          img {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .center {
          flex: 1;
          gap: 1rem;
          @include flex-direction-column;

          .form-address {
            @include flex-direction-column;
            gap: 0.8rem; 
          }
        }

        .right {
          margin-top: 2.2rem;
          flex: 1;
          gap: 1rem;
          @include flex-direction-column;

          .btn {
            margin-top: 0.5rem;
            max-width: 10rem;
            color: $primary-clr;
            padding: 0.7rem 1rem;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            outline: none;
            border-radius: $primary-br;
            border: none;
            box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
            color: #585858;
            
            &:active {
              box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
            }
          }
        }
      }
    }
  }
}