@import "styles/abstracts/variables";
@import "styles/abstracts/mixins";

.new {
  display: flex;
  flex: 1;

  .new-content {
    @include flex-direction-column;
    flex: 6;
    margin-left: 10.25rem;

    .top {
      padding: 1.5rem;

      .top-content {
        flex: 1;
  
        h4 {
          @include heading;
          font-size: 1rem;
        }
      }
    }

    .bottom {
      padding: $secondary-pd;

      .bottom-content {
        @include box;
        flex: 6;
        gap: 3rem;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 3rem;

        label {
          color: $primary-clr;
        }

        input {
          border: none;
          outline: none;
          border-bottom: 1px solid $primary-clr-3;
          max-width: 20rem;
          height: 1.5rem;
        }

        .file-label {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        .left {
          @include flex-direction-column;
          flex: 1;
          gap: 2rem;
          align-items: center;

          img {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .form-control {
          @include flex-direction-column;
          gap: 0.7rem;
        }

        .right {
          flex: 1;

          form {
            @include flex-direction-column;
            gap: 1.5rem;
            flex-wrap: wrap;
          }

          .btn {
            @include button;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}