@import "styles/abstracts/variables";
@import "styles/abstracts/mixins";

.navbar {
  padding: 0rem 1.5rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $primary-clr-3;
  border-left: 2px solid $primary-clr-3;
  top: -0.1px;
  background-color: $primary-clr-4;
  position: sticky;
  z-index: 999;

  .section-one {
    display: flex;
    align-items: center;
    border: 1px solid $primary-clr-3;
    border-radius: 5px;
    
    input {
      padding: 0.3rem 0.5rem;
      border-radius: 5px;
      border: none;
      outline: none;
      background: transparent;
    }

    .search__icon {
      color: $primary-clr-3;
      cursor: pointer;
    }
  }

  .section-two {
    display: flex;
    align-items: center;
    gap: 1rem;

    .navbar__icon {
      color: $secondary-clr;
      font-size: $tertiary-fs;
      cursor: pointer;
    }

    &__language {
      color: $primary-clr-2;
      font-size: $secondary-fs;
    }

    &__language,
    &__theme,
    &__notification,
    &__message,
    &__profile,
    &__setting {
      display: flex;
      align-items: center;
      user-select: none;
    }

    &__notification,
    &__message {
      position: relative;

      .notify-count {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: #8B8B8B;
        color: $primary-clr-4;
        display: grid;
        place-items: center;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }

    img {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}