@import "styles/abstracts/variables";
@import "styles/abstracts/mixins";

.revenue {
  @include box;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 2;

  .revenue-header {
    display: flex;
    justify-content: space-between;

    h4 {
      @include heading;
      font-size: 1rem;
    }
  }

  .revenue-chart {
    @include flex-direction-column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .chart__progress {
      height: 7rem;
      width: 7rem;
    }

    .chart__info {
      @include flex-direction-column;
      gap: 1rem;
      text-align: center;

      span {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .info__desc {
        font-size: 0.8rem;
      }
    }
  }

  .revenue-footer {
    display: flex;
    justify-content: space-between;

    .footer__content {
      @include flex-direction-column;
      justify-content: center;
      align-items: center;

      h4 {
        @include heading;
        font-size: 0.8rem;
      }

      .target__growth {
        display: flex;
        align-items: center;

        .icon {
          font-size: 1.2rem;
        }

        span {
          font-size: 0.8rem;
        }

        &.increase {
          color: green;
        }

        &.decrease {
          color: red;
        }
      }
    }
  }
}