@import "styles/abstracts/variables";
@import "styles/abstracts/mixins";

.table {
  @include box;

  .table__title {
    h1 {
      @include heading;
      font-size: 1rem;
      margin-bottom: 0.8rem;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    th, td {
      border: 1px solid $primary-clr-4;
      text-align: center;
      padding: 0.5rem;
    }

    thead {
      th {
        color: $primary-clr-1;
      }
    }

    tbody {
      tr:nth-child(odd) {
        background-color: hsl(0, 4%, 91%);
      }

      td {
        color: $primary-clr-1;
      }
    }
  }

  .row-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: none;

    img {
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      object-fit: cover;
    }
  }

  .status {
    &.Approved {
      color: green;
      background-color: rgba($color: green, $alpha: 0.5);
    }

    &.Pending {
      color: red;
      background-color: rgba($color: red, $alpha: 0.35);
    }
  }
}