@import "styles/abstracts/variables";

// Box Container
@mixin box {
  border-radius: $primary-br;
  box-shadow: $primary-bs;
  padding: $primary-pd;
}

// Light and Dark Theme
@mixin theme {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid $secondary-clr;
  border-radius: 5px;
  cursor: pointer;
}

// Heading
@mixin heading {
  color: $primary-clr-2;
  text-transform: uppercase;
  font-size: $primary-fs;
}

// Flex Direction Column
@mixin flex-direction-column {
  display: flex;
  flex-direction: column;
}

// Button
@mixin button {
  max-width: 10rem;
  color: $primary-clr-4;
  background-color: $secondary-clr-1;
  padding: 0.7rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: $primary-br;
  border: none;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;

  &:active {
    box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
  }
}