// *******COLORS*******
// Primary color shades
$primary-clr: hsl(0, 0%, 18%);
$primary-clr-1: hsl(0, 0%, 36%);
$primary-clr-2: hsl(0, 0%, 55%);
$primary-clr-3: hsl(0, 0%, 75%);
$primary-clr-4: hsl(0, 0%, 96%);

// Secondary color shades
$secondary-clr: hsl(161, 20%, 33%);
$secondary-clr-1: hsl(180, 14%, 44%);
$secondary-clr-2: hsl(194, 14%, 58%);
$secondary-clr-3: hsl(207, 14%, 71%);
$secondary-clr-4: hsl(220, 11%, 84%);

// *******FONTS-SIZE*******
$primary-fs: 0.8rem;
$secondary-fs: 0.9rem;
$tertiary-fs: 1.3rem;

// *******PADDING*********
$primary-pd: 0.5rem 0.8rem;
$secondary-pd: 0rem 1.5rem 1.5rem;

// *******BORDER*******
$primary-br: 0.5rem;
$secondary-br: 0.3rem;

// *******BOX SHADOW*******
$primary-bs:
  0.3px 0.3px 0.9px rgba(0, 0, 0, 0.081),
  1.1px 1.1px 3.1px rgba(0, 0, 0, 0.119),
  5px 5px 14px rgba(0, 0, 0, 0.2);
