// *******COLORS*******
// Logo
$logo-color: teal;
// Border
$border-color: hsl(0, 0%, 90%);
// Heading
$heading-color: hsl(0, 0%, 50%);
// Theme
$theme-light: hsl(0, 2%, 76%)
;
$theme-dark: hsl(0, 0%, 15%);
// Icon
$icon-color: teal;

// *******FONTS*******
// Heading
$heading-font-size: 0.8rem;