@import "styles/abstracts/variables";
@import "styles/abstracts/mixins";

.graph {
  flex: 4;
  border-radius: $widgets-border-radius;
  box-shadow: $widgets-box-shadow;
  padding: 0.5rem 0.7rem;

  h1 {
    @include heading-h4;
    font-size: 1rem;
  }

  .chart-grid {
    stroke: hsl(0, 0%, 92%);
  }
}