@import "styles/abstracts/variables";
@import "styles/abstracts/mixins";

.graph {
  flex: 4;
  @include box;

  h1 {
    @include heading;
    font-size: 1rem;
  }

  .chart-grid {
    stroke: $primary-clr-4;
  }
}